.EditorPane {
  position: relative;
  display: block;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans);
}

.EditorPane, .EditorPane * {
  box-sizing: border-box;
  -webkit-font-smoothing: var(--font-smoothing);
}

.EditorToolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-border);
}

.EditorInfo {
  padding: 0.5rem;
  text-align: center;
}

.VRule {
  height: 20px;
  width: 1px;
  flex: 0 0 1px;
  margin: 0 0.5rem;
  background-color: var(--color-border);
}

.WideButton {
  flex: 1 0 auto;
  display: flex;
}
