// TODO Replace relative paths and/or auto-include these base files
@import "../../css/fonts";
@import "../../css/setup/variables";

.Wrapper {
  display: flex;
  flex-direction: row;

  @include breakpoint("large-") {
    flex-direction: column;
  }
}

.Description {
  flex: 0 0 33%;

  @include breakpoint("large-") {
    margin-bottom: 20px;
  }
}

.CodeEditor {
  flex: 1 1 77%;
  display: flex;
  flex-direction: row;

  @include breakpoint("small-") {
    flex-direction: column;
  }
}

.Input {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Prism {
  width: 100%;

  @include breakpoint("medium+") {
    border-radius: 10px 0 0 10px !important;
  }
  @include breakpoint("small-") {
    border-radius: 10px 10px 0 0 !important;
  }
}

.Preview,
.Error {
  @include f-body;

  flex: 0 0 50%;
  overflow: hidden;

  @include breakpoint("medium+") {
    border-radius: 0 10px 10px 0;
  }
  @include breakpoint("small-") {
    border-radius: 0 0 10px 10px;
  }
}

.PreviewHeader,
.ErrorHeader {
  padding: 0 10px;
}

.Preview {
  border: 1px solid $c-divider;
}

.PreviewHeader {
  background-color: $c-divider;
}

.PreviewBody {
  padding: 10px;
}

.Error {
  border: 1px solid $c-error;
}

.ErrorHeader {
  background: $c-error;
  color: #ffffff;
}

.ErrorMessage {
  white-space: pre-wrap;
  word-break: break-word;
  color: $c-error;
  padding: 10px;
}

/* OLD

.Code {
  flex: 0 0 33%;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.Preview {
  flex: 0 0 33%;
  display: flex;
  align-items: stretch;
}

.Overflow {
  width: 100%;
  overflow: auto;
}

.Error,
.Preview {
  @include f-body;

  height: 100%;
  padding-left: 10px;
  border-radius: 0 10px 10px 0;
  overflow: hidden;

  &::before {
    @include f-note;

    display: block;
    margin-top: -10px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-left: -40px;
    padding-left: 40px;
  }

  @include breakpoint("medium+") {
    padding-top: 10px;
  }

  @include breakpoint("medium-to-large") {
    width: calc(1 / 2 * 100%);
  }

  @include breakpoint("xlarge+") {
    flex: 1;
  }
}

.Preview {
  border: 1px solid $c-divider;

  &::before {
    content: 'Result';
    background: $c-divider;
  }
}

.Error {
  border: 1px solid $c-error;
  color: $c-error;
  white-space: pre;
  font-family: 'Monaco', monospace;
  font-size: 85%;

  &::before {
    content: 'Error';
    background: $c-error;
    color: #ffffff;
  }
}
*/