html, body {
  font-size: 14px;
}

body {
  margin: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  @supports (-moz-appearance:none) {
    :root {
      background: black;
    }

    body {
      color: white;
    }
  }
}
