html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

#save {
  flex-grow: 0;
  background-color: rgb(26, 115, 232);
  color: white;
  border-radius: 4px;
  height: 32px;
  line-height: 20px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  appearance: none;
  box-shadow: rgba(66, 133, 244, 0.3) 0px 1px 2px 0px,
    rgba(66, 133, 244, 0.15) 0px 1px 3px 1px;
  border: none;
  user-select: none;
  cursor: pointer;
}

#save:active {
  box-shadow: rgba(26, 115, 232, 0.4) 0px 0px 0px 2px;
}

#save:hover {
  background-color: rgba(26, 115, 232, 0.9);
}

.line {
  padding: 12px 16px;
}

.line-end {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.control-group input {
  background-color: rgb(241, 243, 244);
  padding: 6px 8px;
  border: none;
  border-radius: 6px;
  line-height: 20px;
}

.control-group label {
  color: rgb(95, 99, 104);
  font-weight: 500;
}

.notification {
  border: 1px solid #16a34a;
  background-color: #dcfce7;
  color: #166534;
  margin: 0 16px;
  padding: 8px 12px;
  border-radius: 6px;
  line-height: 20px;
}

.hidden {
  display: none;
}
