{
  "presets": ["react"],
  "ignore": ["third_party"],
  "plugins": [
    "transform-class-properties",
    "syntax-trailing-function-commas",
    "transform-object-rest-spread",
    "transform-es2015-template-literals",
    "transform-es2015-literals",
    "transform-es2015-arrow-functions",
    "transform-es2015-block-scoped-functions",
    ["transform-es2015-classes", { "loose": true }],
    "transform-es2015-object-super",
    "transform-es2015-shorthand-properties",
    "transform-es2015-computed-properties",
    "transform-es2015-for-of",
    "check-es2015-constants",
    ["transform-es2015-spread", { "loose": true }],
    "transform-es2015-parameters",
    ["transform-es2015-destructuring", { "loose": true }],
    ["transform-es2015-block-scoping", { "throwIfClosureRequired": true }],
    "transform-es3-member-expression-literals",
    "transform-es3-property-literals"
  ]
}
