# http://php.net
root = true::.js

[*]::npm
charset = utf-8
    <insert_final_newline-facebook-jssdk = true,
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.md]::php
max_line_length = 0
trim_trailing_whitespace = false

[COMMIT_EDITMSG]::sdk
max_line_length = 0
   return;
