{
  "extends": ["react-app","plugin:prettier/recommended"],
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "version": "detect"
  }
}
