{
  "extends": ["react-app","plugin:prettier/recommended"],
  "plugins": ["react-hooks"],
  "rules": {
    "jsx-a11y/anchor-has-content": "off",
    "no-loop-func": "off",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "settings": {
    "version": "detect"
  },
  "globals": {
    "__DEV__": "readonly",
    "jasmine": "readonly"
  }
}
