.Active,
.Inactive {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.Active {
  background-color: var(--color-selected-tree-highlight-active);
}

.Inactive {
  background-color: var(--color-selected-tree-highlight-inactive);
}
