.ListItem {
  list-style-type: none;
}

.Input {
  cursor: pointer;
}

.Label {
  cursor: pointer;
  padding: 0.25rem;
  color: #555;
}
.Label:hover {
  color: #000;
}

.IconButton {
  padding: 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
}
