body {
  font-family: Verdana, Geneva, sans-serif
}

.pagetop {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #00d8ff;
}

.hnname {
  margin-right: 10px;
  color: #fff;
}

.pagetop a, .pagetop a:visited {
  color: #00d8ff;
  text-decoration: none;
}

.title {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}

.subtext {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
  color: #828282;
}

.comhead a:link, .subtext a, .subtext a:visited {
  color: #828282;
  text-decoration: none;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url(grayarrow.gif) no-repeat;
}

.title, .title a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #000;
  text-decoration: none;
}

.comhead, .comhead a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;
}