.ContextMenu {
  position: absolute;
  border-radius: 0.125rem;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 11px;
  overflow: hidden;
  z-index: 10000002;
}
