/**
 * https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications
 */
.Input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
