.App {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  padding: 2rem;
}

.Card {
  display: flex;
  flex: 0 1 1000px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.3s;
}

.Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Column {
  margin: 2rem;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.Column:last-of-type {
  margin-right: 2rem;
}

.Link {
  color: #2683E2;
  transition: 0.2s;
}
.Link:hover {
  color: #1572D1;
}

kbd {
  display: inline-block;
  padding: 0 0.5em;
  border: 1px solid #d7dfe4;
  margin: 0 0.2em;
  background-color: #f6f6f6;
  border-radius: 0.2em;
}

.Screenshot {
  width: 35rem;
  max-width: 100%;
  min-width: 25rem;
  align-self: center;
  justify-content: center;
  border: 1px solid #d7dfe4;
  border-radius: 0.4em;
  box-shadow: 0 2px 4px #ddd;
}

.Header {
  margin-top: 0px;
}

.LegendKey {
  margin: 0;
  margin-bottom: 1.25rem;
  list-style: none;
  padding: 0;
}

.LegendItem {
  display: flex;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Buttons {
  float: left; /* Float the buttons side by side */
}

.ImportButton,
.ViewSourceButton {
  width: 10rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}

.ImportButton {
  background-color: #2683E2;
  border: none;
  color: #ffffff;
}

.ImportButton:hover {
  background-color: #1572D1;
}

.ImportButtonFile {
  display: none;
}

.ViewSourceButton {
  background-color: transparent;
  color: black;
  border: none;
}

.ViewSourceButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.ViewSourceButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.ViewSourceButton:hover {
  background-color: white;
  color: black;
}

.ViewSourceButton:hover span {
  padding-right: 25px;
}

.ViewSourceButton:hover span:after {
  opacity: 1;
  right: 0;
}
