.facehubProTip {
  text-align: center;
}

.facehubProTip img {
  display: inline-block;
  padding-right: 2px;
  vertical-align: text-top;
}

/* Need 2 rules here, data attr reflects the user setting, not what's actually displayed */
html[data-color-mode=dark] .facehubProTip img {
  filter: invert(1);
}
@media (prefers-color-scheme: dark) {
  html[data-color-mode=auto] .facehubProTip img {
    filter: invert(1);
  }
}
