*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: 1.4rem;
  height: 100%;
  margin: 0;
  padding: 0;
}

select {
  width: 12rem;
}

button {
  background: #48d0e8;
  border-radius: 2px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18), inset 0 0 1px rgba(0, 0, 0, 0.12);
  color: #0b262b;
  display: inline-block;
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.01em;
  padding: 7px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.12);
  text-transform: uppercase;
  text-decoration: none;
}

.header {
  background: #222;
  box-shadow: inset 0 -1px 3px #000;
  font-size: 1.6rem;
  line-height: 3.2rem;
  overflow: hidden;
  padding: .8rem 1.6rem;
  flex-shrink: 0;
}

.header__inner {
  display: table;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.header__logo {
  color: #efefef;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.header__logo img {
  display: inline-block;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.header-controls {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 100%;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 0;
  margin: -1px;
  position: absolute;
  width: 0;
}

.fill-height {
  height: 100%;
}

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  padding: 2rem;
}

.control-label {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.01em;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.field {
  padding: 0.8rem;
}

fieldset {
  border: 1px solid #aaa;
  float: left;
  padding: 1.6rem;
  width: 49%;
}

.control-box {
  overflow: hidden;
}

ul,
ol {
  margin: 0 0 2rem 0;
}

li {
  margin-bottom: 0.4rem;
}

.type-subheading {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1.6rem;
}

.hint {
  font-style: italic;
  line-height: 1.5;
}

.footnote {
  border-left: 4px solid #aaa;
  color: #444;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  margin-left: 0.4rem;
  padding-left: 1.6rem;
}

.test-case {
  border-radius: 0.2rem;
  border: 1px solid #d9d9d9;
  margin: 3.2rem 0 3.2rem;
}

.test-case__title {
  padding: 10px 15px 8px;
  line-height: 1;
  font-size: 14px;
  border-bottom: 1px dashed #d9d9d9;
  margin: 0 0 -1px;
}

.test-case__heading {
  font-size: 14px;
  margin-bottom: 8px;
}

.test-case__steps {
  padding: 0 0 0 1.25em;
}

.test-case__title__check {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.test-case__body {
  padding: 0 15px;
}

.test-case__desc {
  font-style: italic;
  margin: 15px 0;
  padding: 0 15px;
}

.test-case--complete {
  border-color: #5cb85c;
}

.test-case--complete .test-case__title {
  color: #5cb85c;
}

.test-case__details {
  border-bottom: 1px dashed #d9d9d9;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0 15px;
}

.test-case__details > * {
  display: inline-block;
}

.test-case__details > dt,
.test-case__details > dd {
  padding: 8px 0 6px;
}

.test-case__details > dt {
  color: #464a4c;
  font-weight: 600;
}

.test-case__details > dd {
  margin-left: 1rem;
}

.test-case__details > dd + dt {
  margin-left: 1.5rem;
}

.test-case__invalid-version {
  font-style: italic;
  font-size: 1.6rem;
  color: #5cb85c;
}

.test-fixture {
  padding: 20px;
  margin: 0 -15px; /* opposite of .test-case padding */
  background-color: #f4f4f4;
  border-top: 1px solid #d9d9d9;
}

.fixture-set {
  margin: 20px auto;
  max-width: 1024px;
  padding: 0 20px;
}

.playground {
  display: flex;
  height: 100%;
  width: 100%;
}

.playgroundCode,
.playgroundStage {
  height: 100%;
}

.playgroundCode,
.playgroundPreview {
  height: 100%;
  flex-basis: 50%
}

.playgroundStage {
  animation: 0.3s saturateIn;
  animation-fill-mode: forwards;
}

.playgroundPreview {
  background: white;
  padding: 0 16px;
}

.playgroundPreview:not(.empty) {
  animation: 0.3s fadeIn;
  animation-fill-mode: forwards;
}

.playground .CodeMirror,
.playgroundCode {
  font-family: 'Operator', 'Inconsolata', 'Fira Code', 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  height: auto;
  line-height: 1.5;
}

.playground .CodeMirror {
  background: transparent !important;
}

.playgroundCode {
  background: #272822;
  color: #665;
  display: block;
  overflow: auto;
  padding: 16px;
  margin: 0;
}

.playgroundCode.empty {
  padding: 20px;
}

.playgroundError {
  background: rgba(200, 70, 70, 0.5);
  border: 1px solid rgba(200, 70, 70, 0.88);
  color: #3a0811;
  font-family: 'Operator', 'Inconsolata', 'Fira Code', 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace;
  overflow: auto;
  padding: 8px 12px;
  margin-top: 16px;
  white-space: pre;
  font-size: 12px;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.12);
}

.playgroundError:first-line {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.playgroundFooter {
  background: #222;
  border-top: 1px solid #181818;
  padding: 10px 12px;
  width: 100%;
  color: #eef;
  font-size: 12px;
  flex-shrink: 0;
}

.playgroundFooter button {
  margin-right: 12px;
}

@keyframes saturateIn {
  0% {
    filter: saturate(0.2);
  }

  100% {
    filter: saturate(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1.003);
  }

  100% {
    opacity: 1;
  }
}
