*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Arimo", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

button {
  background: white;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  padding: 6px 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #171717;
  font-weight: 600;
}

h1 {
  font-size: 32px;
  margin: 24px 0;
}

h2 {
  font-size: 24px;
  margin: 24px 0 16px;
}

h3 {
  font-size: 18px;
  margin: 8px 0 16px;
}

h4, h5, h6 {
  font-size: 16px;
  margin: 0 0 16px;
}

code {
  font-size: 90%;
}

a {
  text-decoration: none;
}

a:link:hover,
a:link:focus {
  text-decoration: underline;
}

textarea {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
  min-height: 100px;
  min-width: 300px;
  padding: 8px;
}

.header {
  background: #171717;
  overflow: hidden;
  padding: 8px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover,
.header a:focus{
  text-decoration: underline;
}

.header select {
  margin-left: 8px;
  max-width: 150px;
}

.header__inner {
  display: table;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.header__logo {
  color: #efefef;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.header__logo img {
  display: inline-block;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.header-controls {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 100%;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 0;
  margin: -1px;
  position: absolute;
  width: 0;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  padding: 2rem;
}

.control-label {
  display: block;
  font-size: 1.2rem;
  letter-spacing: 0.01em;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.field {
  padding: 0.8rem;
}

fieldset {
  border: 1px solid #aaa;
  float: left;
  padding: 1.6rem;
  width: 49%;
}

.control-box {
  overflow: hidden;
}

ul,
ol {
  margin: 0 0 16px 0;
}

p {
  margin: 16px 0;
}

.type-subheading {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1.6rem;
}

.hint {
  font-style: italic;
  line-height: 1.5;
}

.footnote {
  border-left: 4px solid #aaa;
  color: #444;
  font-size: 14px;
  font-style: italic;
  margin-left: 8px;
  padding-left: 16px;
}

.test-case {
  border-radius: 0.2rem;
  border: 1px solid #d9d9d9;
  margin: 3.2rem 0 3.2rem;
}

.test-case__title {
  padding: 10px 15px 8px;
  line-height: 16px;
  font-size: 18px;
  border-bottom: 1px dashed #d9d9d9;
  margin: 0 0 -1px;
}

.test-case__title__check {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.test-case__body {
  padding: 10px;
}

.test-case__desc {
  font-style: italic;
  margin: 15px 0;
  padding: 0 15px;
}

.test-case--complete {
  border-color: #5cb85c;
}

.test-case--complete .test-case__title {
  color: #5cb85c;
}

.test-case__details {
  border-bottom: 1px dashed #d9d9d9;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0 15px;
}

.test-case__details > * {
  display: inline-block;
}

.test-case__details > dt,
.test-case__details > dd {
  padding: 8px 0 6px;
}

.test-case__details > dt {
  color: #464a4c;
  font-weight: 600;
}

.test-case__details > dd {
  margin-left: 1rem;
}

.test-case__details > dd + dt {
  margin-left: 1.5rem;
}

.test-case__invalid-version {
  font-style: italic;
  font-size: 1.6rem;
  color: #5cb85c;
}

.test-fixture {
  padding: 20px;
  margin: 0 -15px; /* opposite of .test-case padding */
  background-color: #f4f4f4;
  border-top: 1px solid #d9d9d9;
}

.field-group {
  overflow: hidden;
}

table {
  border: 1px solid #d9d9d9;
  border-width: 1px 1px 1px 0;
  border-collapse: collapse;
  margin: 16px 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}

td,
th {
  text-align: left;
  border: 1px solid #d9d9d9;
  padding: 6px;
}

tbody tr:nth-child(even) {
  background: #f0f0f0;
}
