.design-grid--baseline {
  display: block;
  position: absolute;
  z-index: 9998;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 5px, #7fffff 5px, #7fffff 10px);
  opacity: 0.25;
  pointer-events: none;
  display: none;

  .show-grids & {
    display: block;
  }
}

.design-grid--columns {
  position: fixed;
  z-index: 9998;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  opacity: 0.25;
  pointer-events: none;
  display: none;

  .show-grids & {
    display: block;
  }

  * {
    height: 100vh;
  }

  .grid {
    margin-left: -20px;
    display: flex;

    @include breakpoint("xlarge+") {
      margin-left: -40px;
    }
  }

  .grid > * {
    position: relative;
    width: calc(1 / 6 * 100%);
    padding-left: 20px;

    @include breakpoint("xlarge+") {
      padding-left: 40px;
    }

    > div {
      background-color: #7fffff;
    }
  }
}
