.Container {
  width: 100%;
  overflow: hidden;
  flex: 1 0 auto;
}

.Container:focus {
  outline: none;
}

.SummaryList {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  line-height: var(--line-height-data);
}

.ComponentLine {
  display: flex;
  align-items: center;
}

.ComponentName {
  flex: 1 0 auto;
  color: var(--color-component-name);
  white-space: pre;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  pointer-events: none;
}

.InstanceCount {
  width: 3rem;
  text-align: right;
  white-space: nowrap;
  font-weight: 400;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  pointer-events: none;
}
