.Components {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans);
}

.Components, .Components * {
  box-sizing: border-box;
  -webkit-font-smoothing: var(--font-smoothing);
}

.TreeWrapper {
  border-top: 1px solid var(--color-border);
  flex: 1 1 65%;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;
}

.InspectedElementWrapper {
  flex: 0 0 calc(100% - var(--horizontal-resize-tree-percentage));
  overflow-x: hidden;
  overflow-y: auto;
}

.ResizeBarWrapper {
  flex: 0 0 0px;
  position: relative;
}

.ResizeBar {
  position: absolute;
  /*
   * moving the bar out of its bounding box might cause its hitbox to overlap
   * with another scrollbar creating disorienting UX where you both resize and scroll
   * at the same time.
   * If you adjust this value, double check that starting resize right on this edge
   * doesn't also cause scroll
   */
  left: 1px;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
  /*
   * The tree in the Components tab has no inherent padding. Make sure these are 
   * grabbable by elevating the element.
   */
  z-index: 1;
}

@container devtools (width < 600px) {
  .Components {
    flex-direction: column;
  }

  .TreeWrapper {
    border-top: 1px solid var(--color-border);
    flex: 1 1 50%;
    overflow: hidden;
  }

  .InspectedElementWrapper {
    flex: 0 0 calc(100% - var(--vertical-resize-tree-percentage));
  }

  .TreeWrapper + .ResizeBarWrapper .ResizeBar {
    top: 1px;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize;
  }

  .ToggleInspectedElement[data-orientation="horizontal"] {
    display: none;
  }
}

@container devtools (width >= 600px) {
  .ToggleInspectedElement[data-orientation="vertical"] {
    display: none;
  }
}

.ActivityList {
  flex: 0 0 var(--horizontal-resize-activity-list-percentage);;
  border-right: 1px solid var(--color-border);
  overflow: auto;
}

.TreeView {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.Loading {
  height: 100%;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sans-large);
  color: var(--color-dim);
  border-left: 1px solid var(--color-border);
}
