.Root {
  background-color: var(--color-forget-badge-background);
  color: var(--color-forget-text);
  padding-right: 1.75em;
  position: relative;
}

.Root::after {
  bottom: 0;
  content: '✨';
  position: absolute;
  right: 0.25em;
}

.ForgetToggle {
  display: flex;
}

.ForgetToggle > span { /* targets .ToggleContent */
  padding: 0;
}
