.HocBadges {
  padding: 0.125rem 0.25rem;
  user-select: none;
}

.Badge {
  display: inline-block;
  background-color: var(--color-component-badge-background);
  color: var(--color-text);
  padding: 0.125rem 0.25rem;
  line-height: normal;
  border-radius: 0.125rem;
  margin-right: 0.25rem;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-small);
}
