.OwnersHeader {
  font-family: var(--font-family-sans);
}

.InspectedElement {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  line-height: var(--line-height-data);
}

.InspectedElementSection:not(:empty) {
  padding: 0.25rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border);
  }
}

.OwnersMetaField {
  padding-left: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RenderedBySkeleton {
  padding-left: 1.25rem;
}