.ErrorOrWarningTree {
  padding: 0;
}

.HeaderRow {
  padding: 0 0.25rem;
}

.Error, .Warning {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.Error {
  background-color: var(--color-error-background-message);
  border-top-color: var(--color-error-border);
  color: var(--color-error-text);
}

.Warning {
  background-color: var(--color-warning-background);
  border-top-color: var(--color-warning-border);
  color: var(--color-warning-text);
}

.Message {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
