.ErrorTree {
  background-color: var(--color-error-background-message);
  color: var(--color-error-text);
}

.WarningTree {
  background-color: var(--color-warning-background);
  color: var(--color-warning-text);
}

.ErrorOrWarning {
  align-items: center;
  border-bottom: 1px solid transparent;
  display: flex;
  padding-left: 1rem;
}

.Error, .Warning {
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
}

.Error {
  border-top-color: var(--color-error-border);
}

.Warning {
  border-top-color: var(--color-warning-border);
}

.Message {
  overflow-x: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}