.Error {
  justify-content: center;
  align-items: center;
  display: flex;
      flex-direction: column;
  height: 100%;
  font-size: var(--font-size-sans-large);
    font-weight: bold;
    text-align: center;
  background-color: var(--color-error-background);
  color: var(--color-error-text);
  border: 1px solid var(--color-error-border);
  padding: 1rem;
}

.Message {
  margin-bottom: 1rem;
}

.RetryButton {
}