.HooksTreeView {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.Hook {
}

.Children {
  padding-left: 1rem;
}

.HeaderRow {
  display: flex;
  align-items: center;
}

.Header {
  flex: 1 1;
  font-family: var(--font-family-sans);
}

.NameValueRow {
  display: flex;
}

.Name,
.NameAnonymous {
  flex: 0 0 auto;
  cursor: default;
}
.Name {
  color: var(--color-dim);
}
.NameAnonymous {
  color: var(--color-dimmer);
}

.EditableName {
  color: var(--color-attribute-name);
  flex: 0 0 auto;
  cursor: default;
}
.EditableName:after,
.Name:after {
  color: var(--color-text);
  content: ': ';
  margin-right: 0.5rem;
}

.Value {
  color: var(--color-attribute-value);
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  white-space: nowrap;
}

.None {
  color: var(--color-dimmer);
  font-style: italic;
}

.TruncationIndicator {
  color: var(--color-dimmer);
}

.ExpandCollapseToggleSpacer {
  flex: 0 0 1rem;
  width: 1rem;
}

.PrimitiveHookNumber {
  background-color: var(--color-primitive-hook-badge-background);
  color: var(--color-primitive-hook-badge-text);
  font-size: var(--font-size-monospace-small);
  margin-right: 0.25rem;
  border-radius: 0.125rem;
  padding: 0.125rem 0.25rem;
}

.HookName {
  color: var(--color-component-name);
}

.ToggleError {
  color: var(--color-error-text);
}