.OwnersHeader {
  font-family: var(--font-family-sans);
}

.Owner {
  color: var(--color-component-name);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.InspectedElement {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  line-height: var(--line-height-data);
}

.InspectedElementSection:not(:empty) {
  padding: 0.25rem;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border);
  }
}

.Owner {
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  background: none;
  border: none;
  display: block;
}
.Owner:focus {
  outline: none;
  background-color: var(--color-button-background-focus);
}

.NotInStore {
  color: var(--color-dim);
  cursor: default;
}

.OwnerButton {
  cursor: pointer;
  width: 100%;
  padding: 0;
}

.OwnerContent {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  border-radius: 0.25rem;
}

.OwnerContent:hover {
  background-color: var(--color-background-hover);
}

.OwnersMetaField {
  padding-left: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
