.SearchInput {
  flex: 1 1;
  display: flex;
  align-items: center;
}

.Input {
  flex: 1 1 0px;
  font-size: var(--font-size-sans-large);
  outline: none;
  border: none;
  background-color: var(--color-background);
  color: var(--color-text);
  padding-left: 1.5rem;
  margin-left: -1rem;
}

.InputIcon {
  pointer-events: none;
  z-index: 2;
  color: var(--color-dimmer);
}

.IndexLabel {
  flex: 0 0 auto;
  font-family: var(--font-family-monospace);
  margin-left: 0.25rem;
}

.NumericInput {
  background: none;
  font-size: var(--font-size-sans-normal);
  text-align: right;
  border: 1px solid transparent;
  border-radius: 0.125rem;
  padding: 0.125rem;
  color: var(--color-attribute-editable-value);
}

.NumericInput:focus {
  background-color: var(--color-button-background-focus);
  outline: none;
}


.LeftVRule,
.RightVRule {
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
}
.LeftVRule {
  margin: 0 0.25rem 0 0.5rem;
}
.RightVRule {
  margin: 0 0.5rem 0 0.25rem;
}
