.SelectedElement {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}

.TitleRow {
  flex: 0 0 42px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-monospace-large);
  border-bottom: 1px solid var(--color-border);
  padding: 0.5rem;
}

.Key {
  flex: 0 1 auto;
  padding-left: 0.25rem;
  padding-right: 0.125rem;
  line-height: 1rem;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
  display: inline-block;
  background-color: var(--color-component-badge-background);
  color: var(--color-text);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.KeyArrow {
  height: 1rem;
  width: 1rem;
  margin-right: -0.25rem;
  border: 0.5rem solid transparent;
  border-left: 0.5rem solid var(--color-component-badge-background);
}

.SelectedComponentName {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
}

.Owners {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.OwnersHeader {
  font-family: var(--font-family-sans);
}

.Source {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.SourceHeaderRow {
  display: flex;
  align-items: center;
}

.SourceHeader {
  flex: 1 1;
  font-family: var(--font-family-sans);
}

.SourceOneLiner {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-left: 1rem;
}

.Component,
.Owner {
  color: var(--color-component-name);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.Component {
  flex: 1 1 auto;
}

.InspectedElement {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  line-height: var(--line-height-data);
}

.Owner {
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  background: none;
  border: none;
  display: block;
}
.Owner:focus {
  outline: none;
  background-color: var(--color-button-background-focus);
}

.Loading {
  padding: 0.25rem;
  color: var(--color-dimmer);
  font-style: italic;
}

.CannotSuspendWarningMessage {
}

.NotInStore {
  color: var(--color-dim);
  cursor: default;
}

.OwnerButton {
  cursor: pointer;
  width: 100%;
  padding: 0;
}

.OwnerContent {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
  border-radius: 0.25rem;
}

.OwnerContent:hover {
  background-color: var(--color-background-hover);
}

.ContextMenuIcon {
  margin-right: 0.5rem;
}
