.root {
  border-radius: 0.25rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    background-color: var(--color-dim);
  }
  50% {
    background-color: var(--color-dimmest)
  }
}
