.StackTraceView {
  padding: 0.25rem;
}

.CallSite {
  display: block;
  padding-left: 1rem;
}

.IgnoredCallSite, .BuiltInCallSite {
  display: none;
}

.CallSite + .BuiltInCallSite {
  display: block;
}

.Link {
  color: var(--color-link);
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  cursor: pointer;
  border-radius: 0.125rem;
  padding: 0px 2px;
}

.Link:hover {
  background-color: var(--color-background-hover);
}

