// TODO Replace relative paths and/or auto-include these base files
@import "../css/setup/breakpoint";
@import "../css/setup/variables";
@import "../css/below_nav";
@import "../css/fonts";
@import "../css/note";
@import "../css/wrapper";

.blog {
  @extend .below_nav;

  flex: 1;
  position: relative;
  z-index: 0;
}

.wrapper {
  @extend .wrapper;
}