.Button {
  border: none;
  background: var(--color-button-background);
  color: var(--color-button);
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  cursor: pointer;
  flex: 0 0 auto;
}
.Button:hover {
  background: var(--color-button-background-hover);
  color: var(--color-button-hover);
}
.Button:active,
.Button:focus {
  background: var(--color-button-background-focus);
  color: var(--color-button-focus);
  outline: none;
}
.Button:disabled {
  background: var(--color-button-background);
  color: var(--color-button-disabled);
  cursor: default;
}
