.DevTools {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-text);
}

.TabBar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--color-background);
  border-top: 1px solid var(--color-border);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sans-large);
}

.Spacer {
  flex: 1;
}

.TabContent {
  flex: 1 1 100%;
  overflow: auto;
}

.DevToolsVersion:before {
  content: 'DevTools ';
}

@media screen and (max-width: 350px) {
  .DevToolsVersion:before {
    content: '';
  }
}
