.Elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
}

.TreeWrapper {
  flex: 0 0 65%;
}

.SelectedElementWrapper {
  flex: 0 0 35%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .Elements {
    flex-direction: column;
  }
}
