.Element,
.SelectedElement {
  width: 100%;
  border-radius: 0.25em;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.Element:hover {
  background-color: var(--color-tree-node-hover);
}

.SelectedElement {
  background-color: var(--color-tree-node-selected);

  /* Invert colors */
  --color-component-name: var(--color-component-name-inverted);
  --color-arrow: var(--color-arrow-inverted);
  --color-tree-jsx-arrow-brackets: var(
    --color-tree-jsx-arrow-brackets-inverted
  );
  --color-attribute-name: #b3e5fc;
  --color-attribute-value: #fff;
}

.ArrowClosed,
.ArrowOpen {
  position: absolute;
  margin-left: -1rem;
  width: 1rem;
  height: 1rem;
  color: var(--color-arrow);
}
.ArrowOpen {
  transform: rotate(90deg);
}

.Component {
  color: var(--color-component-name);
}
.Component:before {
  white-space: nowrap;
  content: '<';
  color: var(--color-tree-jsx-arrow-brackets);
}
.Component:after {
  white-space: nowrap;
  content: '>';
  color: var(--color-tree-jsx-arrow-brackets);
}

.AttributeName {
  color: var(--color-attribute-name);
}

.AttributeValue {
  color: var(--color-attribute-value);
}
