.HooksTreeView {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.Hook {
  padding-left: 0.75rem;
}

.Header {
  font-family: var(--font-family-sans);
  color: var(--color-dim);
}

.NameValueRow {
  display: flex;
}

.Name {
  color: var(--color-text-color);
  flex: 0 0 auto;
}
.Name:after {
  content: ': ';
  margin-right: 0.5rem;
}

.Value {
  color: var(--color-attribute-value);
}

.None {
  color: var(--color-dimmer);
  font-style: italic;
}
