.HooksTreeView {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.HooksNode {
  padding-left: 0.75rem;
}

.NameValueRow {
}

.Name {
  color: var(--color-attribute-name);
}

.Value {
  color: var(--color-attribute-value);
}

.None {
  color: var(--color-dimmer);
  font-style: italic;
}
