.InspectedElementTree {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}
.InspectedElementTree:first-of-type {
  border-top: none;
}

.Item {
}

.Name {
  color: var(--color-attribute-name);
}

.Value {
  color: var(--color-attribute-value);
}

.None {
  color: var(--color-dimmer);
  font-style: italic;
}

.Empty {
  color: var(--color-dimmer);
  font-style: italic;
  padding-left: 1rem;
}
