:root {
  /* Light theme */
  --theme-light-arrow: #777d88;
  --theme-light-arrow-inverted: #ffffff;
  --theme-light-attribute-name: #ef6632;
  --theme-light-attribute-value: #1a1aa6;
  --theme-light-background: #ffffff;
  --theme-light-button: #0088fa;
  --theme-light-button-hover: #1a1aa6;
  --theme-light-color-border: #eeeeee;
  --theme-light-component-name: #8155cb;
  --theme-light-component-name-inverted: #ffffff;
  --theme-light-dim: #777d88;
  --theme-light-dimmer: #cfd1d5;
  --theme-light-jsx-arrow-brackets: #333333;
  --theme-light-jsx-arrow-brackets-inverted: rgba(255, 255, 255, 0.7);
  --theme-light-search-match: yellow;
  --theme-light-search-match-current: orange;
  --theme-light-tree-node-selected: #0088fa;
  --theme-light-tree-node-hover: #ebf1fb;

  /* TODO Dark theme */

  /* "theme" values referenced by other stylesheets */
  --color-arrow: var(--theme-light-arrow);
  --color-arrow-inverted: var(--theme-light-arrow-inverted);
  --color-attribute-name: var(--theme-light-attribute-name);
  --color-attribute-value: var(--theme-light-attribute-value);
  --color-background: var(--theme-light-background);
  --color-border: var(--theme-light-color-border);
  --color-button: var(--theme-light-button);
  --color-button-hover: var(--theme-light-button-hover);
  --color-component-name: var(--theme-light-component-name);
  --color-component-name-inverted: var(--theme-light-component-name-inverted);
  --color-dim: var(--theme-light-dim);
  --color-dimmer: var(--theme-light-dimmer);
  --color-search-match: var(--theme-light-search-match);
  --color-search-match-current: var(--theme-light-search-match-current);
  --color-tree-jsx-arrow-brackets: var(--theme-light-jsx-arrow-brackets);
  --color-tree-jsx-arrow-brackets-inverted: var(
    --theme-light-jsx-arrow-brackets-inverted
  );
  --color-tree-node-selected: var(--theme-light-tree-node-selected);
  --color-tree-node-hover: var(--theme-light-tree-node-hover);

  --font-size-normal: 12px;
  --line-height-data: 1.5rem;

  /* GitHub.com system fonts */
  --font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}
