:root {
  /**
   * IMPORTANT: When new theme variables are added below– also add them to SettingsContext updateThemeVariables()
   */

  /* Light theme */
  --theme-light-arrow: #777d88;
  --theme-light-arrow-inverted: #ffffff;
  --theme-light-attribute-name: #ef6632;
  --theme-light-attribute-value: #1a1aa6;
  --theme-light-background: #ffffff;
  --theme-light-button: #0088fa;
  --theme-light-button-hover: #3578e5;
  --theme-light-color-border: #eeeeee;
  --theme-light-component-name: #8155cb;
  --theme-light-component-name-inverted: #ffffff;
  --theme-light-dim: #777d88;
  --theme-light-dimmer: #cfd1d5;
  --theme-light-dimmest: #eff0f1;
  --theme-light-jsx-arrow-brackets: #333333;
  --theme-light-jsx-arrow-brackets-inverted: rgba(255, 255, 255, 0.7);
  --theme-light-search-match: yellow;
  --theme-light-search-match-current: #f7923b;
  --theme-light-text-color: #000000;
  --theme-light-tree-node-selected: #0088fa;
  --theme-light-tree-node-hover: #ebf1fb;

  /* Dark theme */
  --theme-dark-arrow: #777d88;
  --theme-dark-arrow-inverted: #23272f;
  --theme-dark-attribute-name: #9d87d2;
  --theme-dark-attribute-value: #cedae0;
  --theme-dark-background: #23272f;
  --theme-dark-button: #4dbba6;
  --theme-dark-button-hover: #80d4c4;
  --theme-dark-color-border: #303846;
  --theme-dark-component-name: #4dbba6;
  --theme-dark-component-name-inverted: ##23272f;
  --theme-dark-dim: #8f949d;
  --theme-dark-dimmer: #777d88;
  --theme-dark-dimmest: #4f5766;
  --theme-dark-jsx-arrow-brackets: #777d88;
  --theme-dark-jsx-arrow-brackets-inverted: rgba(255, 255, 255, 0.7);
  --theme-dark-search-match: yellow;
  --theme-dark-search-match-current: #f7923b;
  --theme-dark-text-color: #ffffff;
  --theme-dark-tree-node-selected: #31a38d;
  --theme-dark-tree-node-hover: #303846;

  /* Compact density */
  --compact-font-size-monospace-normal: 11px;
  --compact-font-size-monospace-large: 15px;
  --compact-font-size-sans-normal: 12px;
  --compact-font-size-sans-large: 14px;
  --compact-line-height-data: 18px;

  /* Comfortable density */
  --comfortable-font-size-monospace-normal: 13px;
  --comfortable-font-size-monospace-large: 17px;
  --comfortable-font-size-sans-normal: 14px;
  --comfortable-font-size-sans-large: 16px;
  --comfortable-line-height-data: 22px;

  /* GitHub.com system fonts */
  --font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

* {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}
