.SearchInput {
  flex: 1;
  display: flex;
  align-items: center;
}

.Input {
  flex: 1;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: var(--color-background);
  color: var(--color-text-color);
  padding-left: 1.5rem;
  margin-left: -1rem;
}

.InputIcon {
  pointer-events: none;
  z-index: 2;
}

.IndexLabel {
  color: var(--color-dim);
  font-size: var(--font-size-normal);
}

.IconButton {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  cursor: pointer;
  color: var(--color-button);
  flex: 0 0 auto;
}
.IconButton:hover {
  color: var(--color-button-hover);
}
.IconButton:disabled {
  color: var(--color-dimmer);
  cursor: default;
}

.LeftVRule,
.RightVRule {
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
}
.LeftVRule {
  margin: 0 0.25rem 0 0.5rem;
}
.RightVRule {
  margin: 0 0.5rem 0 0.25rem;
}
