.SelectedElement {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}

.TitleRow {
  flex: 0 0 42px;
  display: flex;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid var(--color-border);
  padding: 0.5rem;
}

.IconButton {
  flex: 0 0 auto;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  cursor: pointer;
  color: var(--color-button);
}
.IconButton:hover {
  color: var(--color-button-hover);
}

.SelectedComponentName {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Owners {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.Component,
.Owner {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-component-name);
}
.Component:before,
.Owner:before {
  white-space: nowrap;
  content: '<';
  color: var(--color-tree-jsx-arrow-brackets);
}
.Component:after,
.Owner:after {
  white-space: nowrap;
  content: '>';
  color: var(--color-tree-jsx-arrow-brackets);
}

.Component {
  flex: 1 1 auto;
}

.InspectedElement {
  overflow: auto;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-data);
}

.Owner {
  padding-left: 1rem;
  cursor: pointer;
}

.Loading {
  padding: 0.25rem;
  color: var(--color-deemphasized);
  font-style: italic;
}
