.Tab,
.TabCurrent,
.TabDisabled {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  user-select: none;
  color: var(--color-text);
}
.Tab:hover,
.TabCurrent:hover {
  background-color: var(--color-background-hover);
}
.Tab:focus-within,
.TabCurrent:focus-within {
  background-color: var(--color-background-hover);
}

.TabCurrent {
  border-bottom: 3px solid var(--color-tab-selected-border);
}

.TabDisabled {
  color: var(--color-dim);
  cursor: default;
}

.TabSizeLarge {
  font-size: var(--font-size-sans-large);
  padding: 0.5rem 1rem;
}
.TabSizeSmall {
  font-size: var(--font-size-sans-normal);
  padding: 0.25rem 0.5rem;
}

.Input {
  width: 0;
  margin: 0;
  opacity: 0;
}

.IconSizeLarge,
.IconSizeSmall {
  margin-right: 0.5rem;
  color: var(--color-button-active);
}

.IconDisabled {
  color: var(--color-dim);
}

.IconSizeLarge {
  width: 1.5rem;
  height: 1.5rem;
}

.IconSizeSmall {
  width: 1rem;
  height: 1rem;
}

.TabLabelLarge,
.TabLabelSmall {
}

@media screen and (max-width: 900px) {
  .TabLabelSmall {
    display: none;
  }

  .IconSizeSmall {
    margin-right: 0;
  }
}

@media screen and (max-width: 525px) {
  .IconSizeLarge {
    margin-right: 0;
  }

  .TabLabelLarge {
    display: none;
  }
}
