// TODO Replace relative paths and/or auto-include these base files
@import "../../css/setup/breakpoint";
@import "../../css/setup/variables";
@import "../../css/setup/mixins";
@import "../../css/below_nav";
@import "../../css/fonts";
@import "../../css/note";
@import "../../css/wrapper";

.MarkdownPage {
  @extend .below_nav;

  flex: 1;
  position: relative;
  z-index: 0;
}

.Wrapper {
  @extend .wrapper;
}

.Sticky {
  display: flex;
  margin-left: -40px;
}

.Main {
  @extend .below_nav;

  flex: 0 0 calc((4.5/ 6 * 100%) + (0.5 / 6 * 100%));
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 40px;
}

.Inner {
  // TODO -- calc the logic of this this magic number...
  padding-right: calc(8.93% + 40px);
}

.article__sub {
  @include f-article_sub;
  color: $c-subtle;
  margin-top: 45px;
}

.Body {
  margin-top: 65px;
  margin-bottom: 120px;
  // margin-right: 40px;

  > p {
    @include f-panel;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &:first-child {
      @extend .article__sub;
      max-width: none;
      margin-top: 0;
    }
  }

  :global .gatsby-highlight {
    margin-top: 30px;

    code {
      font-size: 100%;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    li {
      font-size: 18px;
      display: list-item;
      margin-left: 20px;
      padding-left: 5px;

      + li {
        margin-top: 10px;
      }
    }
  }

  ul:not(:first-child),
  ol:not(:first-child) {
    padding-top: 30px;
  }

  :global {
    a:not(.anchor) {
      @include link;
    }
  }

  h2 {
    @include f-h2;
    margin-top: 45px;
  }

  p + h2,
  ul + h2,
  ol + h2 {
    border-top: 1px solid #ececec;
    margin-top: (45px - 1px);
    padding-top: 40px;
  }

  h3 {
    @include f-h3;
    margin-top: 45px;

    & + p:not(:first-child) {
      margin-top: 20px;
    }
  }

  h4 {
    @include f-h4;
    margin-top: 40px;

    + p:not(:first-child) {
      margin-top: 10px;
    }
  }

  p > code,
  li > code {
    background: rgba($c-note, 0.5);
    padding: 0 3px;
    color: #444;
  }

  blockquote {
    @extend .note;

    max-width: 650px;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-right: 40px;

    p:first-child {
      margin-top: 0;
    }
  }
}
