.Interaction,
.SelectedInteraction {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  border-bottom: 1px solid var(--color-border);
}

.Interaction:hover {
  background-color: var(--color-background-hover);
}

.SelectedInteraction {
  background-color: var(--color-background-hover);
}

.Name {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.Timeline {
  position: relative;
  height: 100%;
}

.InteractionLine {
  position: absolute;
  height: 3px;
  background-color: var(--color-commit-did-not-render-fill);
  color: var(--color-commit-did-not-render-fill-text);
  border-radius: 0.125rem;
}

.CommitBox {
  position: absolute;
  width: var(--interaction-commit-size);
  height: var(--interaction-commit-size);
  background-color: var(--color-commit-did-not-render-fill);
  color: var(--color-commit-did-not-render-fill-text);
  cursor: pointer;
}
