.NoInteractions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header {
  font-size: var(--font-size-sans-large);
}

.Link {
  color: var(--color-button);
}
