.Toolbar {
  height: 2.25rem;
  padding: 0 0.5rem;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.Content {
  padding: 0.5rem;
  user-select: none;
  overflow: auto;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  flex: 1 1;
  margin: 0 0 0.5rem;
}

.Label {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  flex: 1 1;
}

.Value {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
}

.Row {  
  display: flex;  
  flex-direction: row;  
  align-items: center;
  border-top: 1px solid var(--color-border);
} 

.UnclickableSource,
.ClickableSource {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sans-normal);
}

.UnclickableSource {
  color: var(--color-dim);
}

.ClickableSource {
  color: var(--color-text);
}

.ClickableSource:focus,
.ClickableSource:hover {
  background-color: var(--color-background-hover);
}
