.Tooltip {
  position: absolute;
  pointer-events: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-family: var(--font-family-sans);
  font-size: 12px;
  background-color: var(--color-tooltip-background);
  color: var(--color-tooltip-text);
  opacity: 1;
  white-space: nowrap;
  /* Make sure this is above the DevTools, which are above the Overlay */
  z-index: 10000002;
}

.Tooltip.hidden {
  opacity: 0;
}


.Container {
  width: -moz-max-content;
  width: -webkit-max-content;
}
