// TODO Replace relative paths and/or auto-include these base files
@import "../../css/setup/variables";
@import "../../css/setup/breakpoint";

.StickySidebar {
  margin-top: 60px;

  @include breakpoint("small-") {
    margin-top: 40px;
  }

  @include breakpoint("medium-to-large") {
    margin-top: 50px;
  }
}