.Item {
  display: flex;
}

.Name {
  color: var(--color-attribute-name);
  flex: 0 0 auto;
}
.Name:after {
  content: ': ';
  color: var(--color-text-color);
  margin-right: 0.5rem;
}

.Value {
  color: var(--color-attribute-value);
  word-break: break-all;
}

.None {
  color: var(--color-dimmer);
  font-style: italic;
}
