.Tree {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-border);
}

.SearchInput {
  flex: 0 0 42px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 0.5rem;
}

.AutoSizerWrapper {
  width: 100%;
  overflow: auto;
  flex: 1 0 auto;
  padding: 0.25rem;
}

.List {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  line-height: var(--line-height-data);
}
