.Element,
.InactiveSelectedElement,
.SelectedElement,
.HoveredElement {
  border-radius: 0.25em;
  white-space: nowrap;
  line-height: var(--line-height-data);
  display: flex;
  align-items: center;
  cursor: default;
  user-select: none;
}
.HoveredElement {
  background-color: var(--color-background-hover);
}
.InactiveSelectedElement {
  background-color: var(--color-background-inactive);
}

.ScrollAnchor {
  height: 100%;
  width: 0;
}

.SelectedElement {
  background-color: var(--color-background-selected);
  color: var(--color-text-selected);

  /* Invert colors */
  --color-component-name: var(--color-component-name-inverted);
  --color-jsx-arrow-brackets: var(--color-jsx-arrow-brackets-inverted);
  --color-attribute-name: var(--color-background-hover);
  --color-attribute-value: var(--color-component-name-inverted);
  --color-expand-collapse-toggle: var(--color-component-name-inverted);
}

.DollarR {
  color: var(--color-jsx-arrow-brackets);
}

.Component {
  color: var(--color-component-name);
}
.Component:before {
  white-space: nowrap;
  content: '<';
  color: var(--color-jsx-arrow-brackets);
}
.Component:after {
  white-space: nowrap;
  content: '>';
  color: var(--color-jsx-arrow-brackets);
}

.AttributeName {
  color: var(--color-attribute-name);
}

.AttributeValue {
  color: var(--color-attribute-value);
}

.Highlight {
  background-color: var(--color-search-match);
}
.CurrentHighlight {
  background-color: var(--color-search-match-current);
}

.ExpandCollapseToggle {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  color: var(--color-expand-collapse-toggle);
}

.Badge{
  background: var(--color-component-name);
  color: #000;
  line-height: calc(var(--line-height-data) - 0.25rem);
  padding: 0 0.55rem;
  border-radius: 5px;
  margin-left: 0.5rem;
  font-size: calc(var(--font-size-monospace-normal) - 2px);
}