.GuidelineActive,
.GuidelineInactive {
  width: 1px;
  z-index: 2;
  pointer-events: none;
}

.GuidelineActive {
  background-color: var(--color-background-selected);
}

.GuidelineInactive {
  background-color: var(--color-background-inactive);
}
