.HooksTreeView {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.Hook {
  padding-left: 0.75rem;
}

.HeaderRow {
  display: flex;
  align-items: center;
}

.Header {
  flex: 1 1;
  font-family: var(--font-family-sans);
}

.NameValueRow {
  display: flex;
}

.Name {
  color: var(--color-dim);
  flex: 0 0 auto;
}
.EditableName {
  color: var(--color-attribute-name);
  flex: 0 0 auto;
}
.EditableName:after,
.Name:after {
  color: var(--color-text-color);
  content: ': ';
  margin-right: 0.5rem;
}

.Value {
  color: var(--color-attribute-value);
  overflow: hidden;
  text-overflow: ellipsis;
}

.None {
  color: var(--color-dimmer);
  font-style: italic;
}
