.Item {
  display: flex;
}

.Name {
  color: var(--color-dim);
  flex: 0 0 auto;
}
.EditableName {
  color: var(--color-attribute-name);
  flex: 0 0 auto;
}
.EditableName:after,
.Name:after {
  content: ': ';
  color: var(--color-text-color);
  margin-right: 0.5rem;
}

.Value {
  color: var(--color-attribute-value);
  word-break: break-all;
}

.None {
  color: var(--color-dimmer);
  font-style: italic;
}

.Opener {
  display: inline-flex;
  width: 1rem;
  height: 1rem;
  padding: 0;
  color: var(--color-expand-collapse-toggle);
}
