.OwnerStack {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.Component,
.Component[data-reach-menu-item],
.SelectedComponent {
  padding: 0.25rem;
  margin-right: 0.5rem;
  color: var(--color-component-name);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  border-radius: 0.125rem;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  user-select: none;
}

.Component:hover,
.Component[data-reach-menu-item]:hover {
  background-color: var(--color-hover-background);
}
.Component:focus,
.Component[data-reach-menu-item]:focus {
  outline: none;
  background-color: var(--color-hover-background);
}

.Component[data-reach-menu-item][data-selected],
.Component[data-reach-menu-item][data-selected]:hover,
.SelectedComponent,
.SelectedComponent:hover {
  background-color: var(--color-selected-background);
  color: var(--color-selected-foreground);
}
.Component[data-reach-menu-item][data-selected]:focus,
.SelectedComponent:focus {
  outline: none;
}

.Bar {
  display: flex;
  flex: 1 0 auto;
}

.VRule {
  flex: 0 0 auto;
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
  margin: 0 0.5rem;
}

.MenuButton {
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  cursor: pointer;
  flex: 0 0 auto;
  border: none;
  background: var(--color-button-background);
  color: var(--color-button);
  margin-right: 0.5rem;
}
.MenuButton:hover {
  background: var(--color-button-background-hover);
  color: var(--color-button-hover);
}
.MenuButton[aria-expanded='true'],
.MenuButton[aria-expanded='true']:active {
  background: var(--color-button-background-focus);
  color: var(--color-button-focus);
  outline: none;
}
.MenuButton:focus-within {
  box-shadow: 0 0 0 2px var(--color-button-background-focus) inset;
  outline: none;
}

.Modal[data-reach-menu-list] {
  display: inline-flex;
  flex-direction: column;
  background-color: var(--color-background);
  color: var(--color-text-color);
  padding: 0.5rem;
  padding-right: 0;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  max-height: 10rem;
  overflow: auto;

  /* Reach UI tries to set its own :( */
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
}
