.OwnerStack {
  flex: 1;
  display: flex;
  align-items: center;
}

.Component,
.FocusedComponent {
  padding: 0.25rem;
  margin-right: 0.5rem;
  color: var(--color-component-name);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  border-radius: 0.125rem;
  border: none;
  background: none;
}

.Component {
  cursor: pointer;
  color: var(--color-component-name);
}
.Component:hover {
  background-color: var(--color-hover-background);
}
.Component:focus {
  outline: none;
  background-color: var(--color-hover-background);
}

.FocusedComponent {
  background-color: var(--color-selected-background);
  color: var(--color-selected-foreground);
}
.FocusedComponent:focus {
  outline: none;
}

.ElementsBar {
  flex: 1 0 auto;
}

.ElementsBarSelectedOnly {
  margin-left: 0.25rem;
}

.ElementsBarSelectedOnly .Component {
  visibility: hidden;
}
.ElementsBarSelectedOnly .FocusedComponent {
  float: left;
}

.ElementsDropdown {
  position: relative;
}

.Dropdown {
  z-index: 1;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: var(--color-background);
  border: 1px solid var(--color-selected-border);
  overflow-y: auto;
}

.Dropdown .Component,
.Dropdown .FocusedComponent {
  display: block;
  margin: 0.25rem 0.75rem 0.35rem;
}

.DropdownButtonActive {
  background-color: var(--color-selected-background);
  color: var(--color-selected-foreground);
}

.VRule {
  flex: 0 0 auto;
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
  margin: 0 0.5rem;
}
