.OwnerStack {
  flex: 1;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.Component,
.FocusedComponent {
  padding: 0.25rem;
  margin-right: 0.5rem;
  color: var(--color-component-name);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  white-space: nowrap;
  border-radius: 0.125rem;
}

.Component {
  cursor: pointer;
  color: var(--color-component-name);
}
.Component:hover {
  background-color: var(--color-hover-background);
}

.FocusedComponent {
  background-color: var(--color-selected-background);
  color: var(--color-selected-foreground);
}

.VRule {
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
  margin: 0 0.5rem;
}
