.SelectedElement {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}

.TitleRow {
  flex: 0 0 42px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-monospace-large);
  border-bottom: 1px solid var(--color-border);
  padding: 0.5rem;
}

.SelectedComponentName {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Owners {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.OwnersHeader {
  font-family: var(--font-family-sans);
}

.Component,
.Owner {
  color: var(--color-component-name);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.Component:before,
.Owner:before {
  white-space: nowrap;
  content: '<';
  color: var(--color-jsx-arrow-brackets);
}
.Component:after,
.Owner:after {
  white-space: nowrap;
  content: '>';
  color: var(--color-jsx-arrow-brackets);
}

.Component {
  flex: 1 1 auto;
}

.InspectedElement {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  line-height: var(--line-height-data);
}

.Owner {
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  cursor: pointer;
  background: none;
  border: none;
  display: block;
}
.Owner:focus {
  outline: none;
  background-color: var(--color-button-background-focus);
}

.Loading {
  padding: 0.25rem;
  color: var(--color-dimmer);
  font-style: italic;
}

.CannotSuspendWarningMessage {
  font-size: var(--font-size-sans-large);
}

.NotInStore {
  color: var(--color-dim);
  cursor: default;
}

.OwnerButton {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  padding: 0;
}
