globals:
  document: true
  window: true
  Benchmark: true
  React: true
  _rootNode: true
  todolist: true
  _app: true
  _todo1: true
  _todo2: true
  _todo3: true
  _timesToRun: true
  setState: true

rules:
  strict: false
  no-undef: false
  no-unused-vars: false
  block-scoped-var: false
  consistent-return: false
  no-shadow: false
