.Settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sans-normal);
}

.Setting {
  margin-bottom: 0.5rem;
}
.Setting:last-of-type {
  margin-bottom: 0;
}

.OptionGroup {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  margin: 0 1rem 0.5rem 0;
}
.OptionGroup:last-of-type {
  margin-right: 0;
}

.RadioLabel {
  display: inline;
  margin-right: 0.5rem;
}

.Select {
}

.CheckboxOption {
  display: block;
  padding: 0 0 0.5rem;
}

.HRule {
  height: 1px;
  background-color: var(--color-border);
  width: 100%;
  border: none;
  margin: 0.5rem 0;
}

.Header {
  font-size: var(--font-size-sans-large);
  margin-top: 0.5rem;
}

.ButtonIcon {
  margin-right: 0.25rem;
}

.NoFiltersCell {
  padding: 0.25rem 0;
  color: var(--color-dim);
}

.Table {
  min-width: 20rem;
  margin-top: 0.5rem;
  border-spacing: 0;
}

.TableRow {
  padding-bottom: 0.5rem;
}

.TableCell {
  padding: 0;
  padding-right: 0.5rem;
}
.TableCell:last-of-type {
  text-align: right;
  padding-right: 0;
}

.Input {
  border: 1px solid var(--color-border);
  border-radius: 0.125rem;
  padding: 0.125rem;
}

.InvalidRegExp,
.InvalidRegExp:active,
.InvalidRegExp:focus,
.InvalidRegExp:hover {
  color: var(--color-value-invalid);
}

.ToggleOffInvalid,
.ToggleOnInvalid,
.ToggleOff,
.ToggleOn {
  border-radius: 0.75rem;
  width: 1rem;
  height: 0.625rem;
  display: flex;
  align-items: center;
  padding: 0.125rem;
}
.ToggleOffInvalid {
  background-color: var(--color-toggle-background-invalid);
  justify-content: flex-start;
}
.ToggleOnInvalid {
  background-color: var(--color-toggle-background-invalid);
  justify-content: flex-end;
}
.ToggleOff {
  background-color: var(--color-toggle-background-off);
  justify-content: flex-start;
}
.ToggleOn {
  background-color: var(--color-toggle-background-on);
  justify-content: flex-end;
}

.ToggleInsideOff,
.ToggleInsideOn {
  border-radius: 0.375rem;
  width: 0.375rem;
  height: 0.375rem;
  background-color: var(--color-toggle-text);
}

.ReleaseNotes {
  width: 100%;
  background-color: var(--color-background-hover);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.ReleaseNotesLink {
  color: var(--color-button-active);
}
