# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
public/react.development.js
public/react-dom.development.js
public/react-dom-server.browser.development.js

# misc
.DS_Store
.env
npm-debug.log
