# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
public/react.js
public/react-dom.js

# misc
.DS_Store
.env
npm-debug.log
