.Interaction,
.SelectedInteraction {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
  border-bottom: 1px solid var(--color-border);
}

.Interaction:hover {
  background-color: var(--color-hover-background);
}

.SelectedInteraction {
  background-color: var(--color-hover-background);
}

.Name {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.Timeline {
  position: relative;
  height: 100%;
}

.InteractionLine {
  position: absolute;
  height: 3px;
  background-color: var(--color-commit-did-not-render);
  border-radius: 0.125rem;
}

.CommitBox {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--color-commit-did-not-render);
  cursor: pointer;
}
