.Toolbar {
  height: 2.25rem;
  padding: 0 0.5rem;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.Content {
  padding: 0.5rem;
  user-select: none;
  border-top: 1px solid var(--color-border);
}

.Name {
  font-size: var(--font-size-sans-large);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.NothingSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--color-dim);
}

.Commits {
  font-weight: bold;
}

.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.5rem;
}
.ListItem:hover {
  background-color: var(--color-hover-background);
}

.CommitBox {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}
