.Toolbar {
  height: 2.25rem;
  padding: 0 0.5rem;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}

.Content {
  padding: 0.5rem;
  user-select: none;
}

.List,
.InteractionList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.InteractionList {
  padding: 0.25rem;
}

.ListItem {
  margin: 0 0 0.5rem;
}

.InteractionListItem {
  padding: 0.25rem 0.5rem;
}
.InteractionListItem:hover {
  background-color: var(--color-hover-background);
}

.Label {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.Value {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
}
