.SnapshotSelector {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-color);
  margin-left: 0.5rem;
}

.Button {
  margin-left: 0.25rem;
}

.Commits {
  flex: 1 1 150px;
  height: 2.25rem;
  margin-left: 0.25rem;
}

.VRule {
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
  margin: 0 0.25rem;
}

.Number {
  font-family: var(--font-family-monospace);
}
