.SnapshotSelector {
  display: flex;
  align-items: center;
  color: var(--color-text-color);
  margin-left: 0.5rem;
}

.Button {
  margin-left: 0.25rem;
}

.Commits {
  margin-left: 0.25rem;
}

.VRule {
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
  margin: 0 0.25rem;
}
