.Button {
  flex: 0 0 auto;
  margin-left: 0.25rem;
}

.Commits {
  height: 100%;
  min-width: 30px;
  margin-left: 0.25rem;
  overflow: hidden;
}
.Commits:focus {
  outline: none;
}

.IndexLabel {
  flex: 0 0 auto;
  white-space: nowrap;
  font-family: var(--font-family-monospace);
  margin-left: 0.25rem;
}

.NoCommits {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dim);
}
