.Button {
  flex: 0 0 auto;
  margin-left: 0.25rem;
}

.Commits {
  height: 100%;
  min-width: 30px;
  margin-left: 0.25rem;
  overflow: hidden;
}

.VRule {
  height: 20px;
  width: 1px;
  background-color: var(--color-border);
  margin: 0 0.25rem;
}

.IndexLabel {
  flex: 0 0 auto;
  white-space: nowrap;
  font-family: var(--font-family-monospace);
  margin-left: 0.25rem;
}

.NoCommits {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dim);
}
