.DS_Store
.spr.yml

node_modules
.watchmanconfig
.watchman-cookie-*
dist
target
crates/react_compiler_ast/tests/fixtures
.vscode
!packages/playground/.vscode
testfilter.txt
.claude/settings.local.json

# forgive
*.vsix
.vscode-test

