/* https: //css-tricks.com/single-element-loaders-the-dots/ */
.hcm-loader {
    /* the colors */
    --c1: rgb(42,114,235);
    --c2: rgb(84,182,114);
    --c3: rgb(233, 190, 71);
    --c4: rgb(233, 120, 107);
    /**/

    width: 24px;
    /* control the size */
    aspect-ratio: 8/5;
    --_g: no-repeat radial-gradient(#000 68%, #0000 71%);
    -webkit-mask: var(--_g), var(--_g), var(--_g);
    mask: var(--_g), var(--_g), var(--_g);
    -webkit-mask-size: 25% 40%;
    mask-size: 25% 40%;
    background:
        conic-gradient(var(--c2) 50%, var(--c1) 0) no-repeat,
        conic-gradient(var(--c4) 50%, var(--c3) 0) no-repeat;
    background-size: 200% 50%;
    animation:
        back 4s infinite steps(1),
        load 2s infinite;
}

@keyframes load {
    0% {
        -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%
    }

    16.67% {
        -webkit-mask-position: 0% 100%, 50% 0%, 100% 0%
    }

    33.33% {
        -webkit-mask-position: 0% 100%, 50% 100%, 100% 0%
    }

    50% {
        -webkit-mask-position: 0% 100%, 50% 100%, 100% 100%
    }

    66.67% {
        -webkit-mask-position: 0% 0%, 50% 100%, 100% 100%
    }

    83.33% {
        -webkit-mask-position: 0% 0%, 50% 0%, 100% 100%
    }

    100% {
        -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%
    }
}

@keyframes back {

    0%,
    100% {
        background-position: 0% 0%, 0% 100%
    }

    25% {
        background-position: 100% 0%, 0% 100%
    }

    50% {
        background-position: 100% 0%, 100% 100%
    }

    75% {
        background-position: 0% 0%, 100% 100%
    }
}


.hcm-action-container {
    display: inline-flex !important;
    gap: 4px !important;
}

.hcm-action-container:hover:not(.hcm-action-disabled) {
    background: rgb(0,0,0,.1)
}

.hcm-action {
    align-items: center;
}

.hcm-action-disabled {
    color: rgb(0, 0, 0, .2);
    pointer-events: none;
}

.hcm-action-in-flight {
    border-width: 0 0 2px 0 !important;
    border-color: rgb(0, 0, 0, .2) !important;
    border-style: solid !important;
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.hcm-toast-card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(0,0,0,.1);
    border-radius: 5px;
    box-shadow: -8px -5px 5px -5px rgba(97, 97, 97, 0.57);
    font-family: "Lucida Console", Monaco, monospace;
    z-index: 10000;
    min-width: 300px;
    aspect-ratio: 8/5;
    visibility: visible;
    margin-bottom: 20px;
    margin-right: 20px;
}

.hcm-close-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px;
    cursor: pointer;
}

.hcm-close-icon::after,
.hcm-close-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}

.hcm-close-icon::after {
    transform: rotate(-45deg)
}

.hcm-toast-title-container {
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.hcm-toast-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 20vw;
    min-width: 300px;
    justify-content: flex-end;
    visibility: hidden;
    margin-right:20px;
}

.hcm-toast-card > .hcm-body a {
    display: inline;
}

.hcm-toast-title-container > .hcm-title {
    font-size: 1.25rem;
    font-style: bold;
}

.hcm-toast-title-container > .hcm-title.hcm-success {
    color:rgb(84, 182, 114);
}

.hcm-toast-title-container > .hcm-title.hcm-error {
    color: rgb(233, 120, 107);
}

.hcm-toast-title-container > .hcm-title.hcm-info {
    color: rgb(42, 114, 235)
}

.hcm-toast-title-container > .hcm-title.hcm-warn {
    color: rgb(233, 190, 71)
}

.hcm-toast-card > .hcm-body {
    padding: 8px;
    word-wrap: break-word;
}

.hcm-fade {
    animation: fadeOut 4s;
}

.hcm-hold-and-fade {
    animation: fadeOut 8s;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    0% {
        opacity: 1;
    }
}
