.Spinner {
  animation: rotate 1.3s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.SmallSpinnerPath {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    SmallDash 1.3s ease-in-out infinite;
}

@keyframes SmallDash {
 0% { stroke-dashoffset: 100; }
 50% {
   stroke-dashoffset: 50;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 100;
   transform:rotate(450deg);
 }
}

.MediumSpinnerPath {
  stroke-dasharray: 150;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    MediumDash 1.3s ease-in-out infinite;
}

@keyframes MediumDash {
 0% { stroke-dashoffset: 150; }
 50% {
   stroke-dashoffset: 50;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 150;
   transform:rotate(450deg);
 }
}

.LargeSpinnerPath {
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    LargeDash 1.3s ease-in-out infinite;
}

@keyframes LargeDash {
 0% { stroke-dashoffset: 200; }
 50% {
   stroke-dashoffset: 50;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 200;
   transform:rotate(450deg);
 }
}
