.hydration {
  overflow: hidden;
  border-radius: 2px;
  position: relative;
  width: 100%;
}

.hydration-editor {
  background: #223;
  border-bottom-left-radius: 2px;
  float: left;
  position: relative;
  width: 50%;
}

.hydration-options {
  background: #111;
  border-bottom: 1px solid #333;
  border-top-left-radius: 2px;
  color: #def5ff;
  padding: 4px 8px;
}

.hydration-options label {
  font-size: 13px;
}

.hydration-options input[type=checkbox] {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.hydration-code {
  font-size: 13px;
  height: calc(100vh - 150px);
  min-height: 350px;
  overflow: auto;
  position: relative;
  width: 100%;
}

.hydration-code .ReactCodeMirror {
  height: 100%;
  position: relative;
}

.hydration-code .CodeMirror {
  height: 100%;
}

.hydration-frame {
  border: 1px solid #d9d9d9;
  border-left-width: 0;
  border-radius: 0 2px 2px 0;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  width: 50%;
}

.hydration-code-error {
  background: #df3f3f;
  color: white;
  padding: 12px 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  overflow: auto;
}
