.ErrorBoundary {
  height: 100%;
  width: 100%;
  background-color: white;
  color: red;
  padding: 0.5rem;
  overflow: auto;
}

.Header {
  font-size: var(--font-size-sans-large);
  font-weight: bold;
}

.Stack {
  margin-top: 0.5rem;
  white-space: pre-wrap;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-small);
  background-color: hsl(0, 100%, 97%);
  border: 1px solid hsl(0, 100%, 92%);
  border-radius: 0.25rem;
  padding: 0.5rem;
}
