.Background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  background-color: var(--color-modal-background);
  overflow: auto;
}

.Dialog {
  position: relative;
  z-index: 3;
  margin: 0 0.25rem;
  width: 25rem;
  min-width: 20rem;
  max-width: 100%;
  display: inline-block;
  background-color: var(--color-background);
  box-shadow: 0 2px 4px var(--color-shadow);
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font-size: var(--font-size-sans-normal);
}

.Title {
  font-size: var(--font-size-sans-large);
  margin-bottom: 0.5rem;
}

.Buttons {
  text-align: right;
  margin-top: 0.5rem;
}

.Button {
  font-size: var(--font-size-sans-large);
}
