.Main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  background-color: var(--color-react-not-dected-background);
  color: var(--color-text);
}

.Header {
  font-size: var(--font-size-sans-large);
  margin-bottom: 0.5rem;
  z-index: 1;
}

.Content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.LogoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 75%;
  height: 75%;
  color: var(--color-react-not-dected-logo);
}