:root {

  /* Light theme */
  --light-color-scroll-thumb: #c2c2c2;
  --light-color-scroll-track: #fafafa;
  --light-color-tooltip-background: rgba(0, 0, 0, 0.9);
  --light-color-tooltip-text: #ffffff;

  /* Dark theme */
  --dark-color-scroll-thumb: #afb3b9;
  --dark-color-scroll-track: #313640;
  --dark-color-tooltip-background: rgba(255, 255, 255, 0.95);
  --dark-color-tooltip-text: #000000;

  /* Font smoothing */
  --font-smoothing: auto;

  /* Compact density */
  --compact-line-height-data: 18px;
  --compact-root-font-size: 16px;

  /* Comfortable density */
  --comfortable-line-height-data: 22px;
  --comfortable-root-font-size: 20px;

  /* GitHub.com system fonts */
  --font-family-monospace: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}