.Tooltip {
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  background-color: var(--color-tooltip-background);
  color: var(--color-tooltip-text);

  /* Make sure this is above the DevTools, which are above the Overlay */
  z-index: 10000002;
}
