.Row {  
  display: flex;  
  flex-direction: row;  
  align-items: center;  
} 

.Column { 
  display: flex;  
  flex-direction: column; 
  align-items: center;  
} 

.Title {  
  font-size: var(--font-size-sans-large); 
  margin-bottom: 0.5rem;  
} 

.ReleaseNotesLink { 
  color: var(--color-button-active);  
}