.Input {
  min-width: 0.5rem;
  flex: 1 1 auto;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  border: none;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
}

.Input:focus {
  border-color: var(--color-border);
}
