.LayoutViewer {
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-small);
}

.Header {
  font-family: var(--font-family-sans);
}

.DashedBox,
.SolidBox {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: 1px;
  border-color: var(--color-dim);
  padding: 0.25rem;
  margin: 0.25rem;
}
.DashedBox {
  border-style: dashed;
}
.SolidBox {
  border-style: solid;
}

.LabelRow {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Label {
  position: absolute;
  left: 0.5rem;
  flex: 1 0 100px;
  color: var(--color-attribute-name);
}

.BoxRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
