.StyleEditor {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
  padding: 0.25rem;
  border-top: 1px solid var(--color-border);
}

.HeaderRow {
  display: flex;
  align-items: center;
}

.Header {
  flex: 1 1;
}

.Brackets {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sans-small);
}

.Row {
  white-space: nowrap;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.Invalid {
  background-color: var(--color-background-invalid);
  color: var(--color-text-invalid);

  --color-border: var(--color-text-invalid);
}
.Attribute {
  color: var(--color-attribute-name);
}

.Value {
  color: var(--color-attribute-value);
}

.Input {
  flex: 0 1 auto;
  padding: 1px;
  box-shadow: 0px 1px 3px transparent;
}
.Input:focus {
  color: var(--color-text);
  box-shadow: 0px 1px 3px var(--color-shadow);
}

