.SuspenseTab {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans);
}

.SuspenseTab, .SuspenseTab * {
  box-sizing: border-box;
  -webkit-font-smoothing: var(--font-smoothing);
}

.TreeWrapper {
  flex: 1 1 var(--horizontal-resize-tree-percentage);
  display: flex;
  flex-direction: row;
  overflow: auto;
  border-top: 1px solid var(--color-border);
}

.InspectedElementWrapper {
  flex: 1 1 calc(100% - var(--horizontal-resize-tree-percentage));
  overflow-x: hidden;
  overflow-y: auto;
}

.ResizeBarWrapper {
  flex: 0 0 0px;
  position: relative;
}

.ResizeBar {
  position: absolute;
  /*
   * moving the bar out of its bounding box might cause its hitbox to overlap
   * with another scrollbar creating disorienting UX where you both resize and scroll
   * at the same time.
   * If you adjust this value, double check that starting resize right on this edge
   * doesn't also cause scroll
   */
  left: 1px;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}

.TreeView footer {
  display: none;
}



@container devtools (width < 600px) {
  .SuspenseTab {
    flex-direction: column;
  }

  .TreeWrapper {
    border-top: 1px solid var(--color-border);
    flex: 1 0 var(--vertical-resize-tree-percentage);
  }

  .InspectedElementWrapper {
    flex: 1 1 50%;
  }

  .TreeWrapper + .ResizeBarWrapper .ResizeBar {
    top: 1px;
    left: 0;
    width: 100%;
    height: 5px;
    cursor: ns-resize;
  }

  .TreeView footer {
    display: flex;
    justify-content: end;
  }

  .ToggleInspectedElement[data-orientation="horizontal"] {
    display: none;
  }
}

.TreeList {
  flex: 0 0 var(--horizontal-resize-tree-list-percentage);
  border-right: 1px solid var(--color-border);
  padding: 0.25rem
}

.TreeView {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
}



.Rects {
  border-top: 1px solid var(--color-border);
  padding: 0.25rem;
  flex-grow: 1;
}

.TimelineWrapper {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
}

.Timeline {
  flex-grow: 1;
}
