.SuspenseRectsContainer {
  padding: .25rem;
  cursor: pointer;
  outline: 1px solid var(--color-component-name);
  border-radius: 0.25rem;
}

.SuspenseRectsContainer[data-highlighted='true'] {
  background: var(--color-dimmest);
}

.SuspenseRectsViewBox {
  position: relative;
}

.SuspenseRectsBoundary {
  pointer-events: all;
}

.SuspenseRectsBoundaryChildren {
  pointer-events: none;
}

.SuspenseRectsScaledRect[data-visible='false'] > .SuspenseRectsBoundaryChildren {
  overflow: initial;
}

.SuspenseRectsRect {
  box-shadow: var(--elevation-4);
  pointer-events: all;
  outline-style: solid;
  outline-width: 1px;
  border-radius: 0.125rem;
  cursor: pointer;
}

.SuspenseRectsScaledRect {
  position: absolute;
  outline-color: var(--color-background-selected);
}

.SuspenseRectsScaledRect[data-visible='false'] {
  pointer-events: none;
  outline-width: 0;
}

.SuspenseRectsScaledRect[data-suspended='true'] {
  opacity: 0.3;
}

/* highlight this boundary */
.SuspenseRectsBoundary:hover:not(:has(.SuspenseRectsBoundary:hover)) > .SuspenseRectsRect, .SuspenseRectsBoundary[data-highlighted='true'] > .SuspenseRectsRect {
  background-color: var(--color-background-hover);
}

.SuspenseRectsRect[data-highlighted='true'] {
  background-color: var(--color-selected-tree-highlight-active);
}
