.SuspenseRectsContainer {
  padding: .25rem;
  cursor: pointer;
  outline-color: var(--color-transition);
  outline-style: solid;
  outline-width: 1px;
  border-radius: 0.25rem;
  background-color: color-mix(in srgb, var(--color-transition) 5%, transparent);
}

.SuspenseRectsContainer:hover:not(:has(.SuspenseRectsBoundary:hover))[data-highlighted='false'] {
  outline-width: 1px;
}

.SuspenseRectsContainer[data-highlighted='true'] {
  outline-style: solid;
  outline-width: 4px;
}

.SuspenseRectsViewBox {
  position: relative;
}

.SuspenseRectsBoundary {
  pointer-events: all;
  border-radius: 0.125rem;
}

.SuspenseRectsBoundary[data-visible='false'] {
  background-color: transparent;
}

.SuspenseRectsBoundaryChildren {
  pointer-events: none;
}

.SuspenseRectsScaledRect[data-visible='false'] > .SuspenseRectsBoundaryChildren {
  overflow: initial;
}

.SuspenseRectsRect {
  box-shadow: var(--elevation-4);
  pointer-events: all;
  cursor: pointer;
  border-radius: 0.125rem;
  background-color: color-mix(in srgb, var(--color-background) 50%, var(--color-suspense) 25%);
  backdrop-filter: grayscale(100%);
  transition: background-color 0.2s ease-in;
  outline-color: var(--color-suspense);
  outline-style: solid;
  outline-width: 1px;
}

.SuspenseRectsScaledRect {
  position: absolute;
}

.SuspenseRectsScaledRect[data-visible='false'] {
  pointer-events: none;
  outline-width: 0;
}

.SuspenseRectsBoundary[data-suspended='true'] {
  opacity: 0.33;
}

/* highlight this boundary */
.SuspenseRectsBoundary:hover:not(:has(.SuspenseRectsBoundary:hover)) > .SuspenseRectsRect {
  background-color: color-mix(in srgb, var(--color-background) 50%, var(--color-suspense) 50%);
  transition: background-color 0.2s ease-out;
}

.SuspenseRectsBoundary[data-selected='true'] {
  box-shadow: var(--elevation-4);
}

.SuspenseRectOutline {
  outline-color: var(--color-suspense);
  outline-style: solid;
  outline-width: 4px;
  border-radius: 0.125rem;
  pointer-events: none;
}

.SuspenseRectsBoundary[data-selected='true'] > .SuspenseRectsRect {
   box-shadow: none;
}
