.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

select {
  width: 120px;
}

.header {
  background: #222;
  box-shadow: inset 0 -1px 3px #000;
  overflow: hidden;
  padding: 8px 16px;
  line-height: 32px;
}

.header__inner {
  display: table;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.header__logo {
  color: #efefef;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.header__logo img {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.header-controls {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  width: 100%;
}

iframe {
  display: block;
  height: 98%;
  height: calc(100vh - 72px);
  margin: 20px auto 0;
  width: 100%;
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  height: 0;
  margin: -1px;
  position: absolute;
  width: 0;
}