* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px; 
}

label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-size: 12px;
  margin-bottom: 4px;
}

.field {
  padding: 8px;
}

form {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

fieldset {
  border: 1px solid #aaa;
  padding: 16px;
  float: left;
  width: 49%;
}
