.Settings {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-top: 1px solid var(--color-border);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-sans-normal);
  background-color: var(--color-background);
  color: var(--color-text-color);
}

.Section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.Header {
  margin-right: 0.5rem;
  font-size: var(--font-size-sans-large);
}

.OptionGroup {
  display: flex;
  flex-direction: row;
  user-select: none;
}

.Option {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-right: none;
}

.Option:hover {
  background-color: var(--color-hover-background);
}

.Option:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.Option:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-right: 1px solid var(--color-border);
}

.ScreenshotThrottling {
  background-color: var(--color-hover-background);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
