.App {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
}

.Canvas {
}

.HighlightContainer {
  pointer-events: none;
  position: absolute;
  top: 0;
  overflow: hidden;
}
