html,
body,
iframe {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    background-image: linear-gradient(203.36deg, #1C0007 5.38%, #00112C 93.35%), linear-gradient(160.09deg, #001111 3.86%, #0F2F00 91.9%);
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-image: linear-gradient(203.36deg, #E3FFF8 5.38%, #FFEED3 93.35%), linear-gradient(160.09deg, #FFEEEE 3.86%, #F0D0FF 91.9%);
    background-blend-mode: lighten, lighten;
  }
}

#warning {
  position: absolute;
  left: 0;
  top: 0px;
  padding: 12px 16px;
  background-color: rgba(252, 238, 209);
  z-index: 100;
}

#warning.hidden {
  display: none;
}

#close-warning {
  display: block;
  margin-top: 4px;
  font-size: 10px;
}

a {
  color: rgb(23, 99, 207);
}
