{
  "env": {
    "jasmine": true
  },
  "globals": {
    "waitForUpdate": true,
    "triggerEvent": true,
    "createTextVNode": true
  },
  "plugins": ["jasmine"],
  "rules": {
    "jasmine/no-focused-tests": 2
  }
}
