.article_nav {
  padding-top: 40px;
  padding-bottom: 40px;

  .is-sticky & {
    position: fixed;
    width: inherit;
    top: 40px;

    @include breakpoint("medium-to-xlarge") {
      top: 50px;
    }

    @include breakpoint("xxlarge") {
      top: 60px;
    }
  }

  .is-at-bottom & {
    position: absolute;
    bottom: 0;
  }
}

.article_nav__category_title {
  @include f-note;

  & + & {
    padding-top: 30px;
  }
}

.article_nav__category_title:not(.is-current) {
  a {
    color: rgba(#fff, 0.5);
    transition: color 0.2s ease;
    &:hover {
      color: #fff;
    }

    .alt-design & {
      color: rgba(#1a1a1a, 0.6);

      &:hover {
        color: #1a1a1a;
      }
    }
  }
}

.article_nav__list {
  padding-top: 20px;

  + .article_nav__category_title {
    padding-top: 35px;
  }
}
