.CodeMirror { height: auto !important; padding: 0 0 0 10px; }

.cm-s-react.CodeMirror { background: #ffffff; color: #777777; }
.cm-s-react div.CodeMirror-selected { background: #e0e0e0; }
.cm-s-react .CodeMirror-line::selection, .cm-s-react .CodeMirror-line > span::selection, .cm-s-react .CodeMirror-line > span > span::selection { background: #e0e0e0; }
.cm-s-react .CodeMirror-line::-moz-selection, .cm-s-react .CodeMirror-line > span::-moz-selection, .cm-s-react .CodeMirror-line > span > span::-moz-selection { background: #e0e0e0; }
.cm-s-react .CodeMirror-gutters { background: transparent; border-right: 0px; }
.cm-s-react .CodeMirror-guttermarker { color: #777777; }
.cm-s-react .CodeMirror-guttermarker-subtle { color: #767676; }
.cm-s-react .CodeMirror-linenumber { color: #767676; margin-left: -10px; }
.cm-s-react .CodeMirror-cursor { border-left: 1px solid #505050; }

.cm-s-react span.cm-comment { color: #8f5536; }
.cm-s-react span.cm-atom { color: #aa759f; }
.cm-s-react span.cm-number { color: #aa759f; }

.cm-s-react span.cm-attribute {  }
.cm-s-react span.cm-property { color: #007db8; }
.cm-s-react span.cm-keyword { color: #777777; }
.cm-s-react span.cm-string { color: #777777; }

.cm-s-react span.cm-variable { color: #d14355; }
.cm-s-react span.cm-variable-2 { color: #6a9fb5; }
.cm-s-react span.cm-def { color: #d14356; }
.cm-s-react span.cm-bracket { color: #518400; }
.cm-s-react span.cm-tag { color: #518400; }
.cm-s-react span.cm-link { color: #aa759f; }
.cm-s-react span.cm-error { background: #777777; color: #505050; }

.cm-s-react .CodeMirror-activeline-background { background: #DDDCDC; }
.cm-s-react .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }


.article .CodeMirror { height: auto !important; padding: 10px 10px 10px 0; font-size: 18px; line-height: 25px; }

// .article {

  .cm-s-react.CodeMirror { background: #fff; color: inherit; }
  [data-readonly] .CodeMirror-linenumber { visibility: hidden; }

  .alt-design {
    .article .CodeMirror { padding-top: 25px; padding-bottom: 25px; }

    .CodeMirror::before {
      @include f-note;
      content: 'Code';
      display: block;
      background: $c-darker;
      color: #fff;
      padding: 8px 25px 7px;
      margin-left: -15px;
      position: relative;
      margin-right: -30px;
    }

    .article .CodeMirror::before {
      top: -25px;
    }



    .cm-s-react.CodeMirror { background: $c-dark; border-radius: 10px; color: #fff; -webkit-font-smoothing: antialiased; }

    .CodeMirror-linenumber { color: #999; }
    .cm-s-react div.CodeMirror-selected { background: $c-darker; }
    .cm-s-react .CodeMirror-line::selection, .cm-s-react .CodeMirror-line > span::selection, .cm-s-react .CodeMirror-line > span > span::selection { background: $c-darker; }
    .cm-s-react .CodeMirror-line::-moz-selection, .cm-s-react .CodeMirror-line > span::-moz-selection, .cm-s-react .CodeMirror-line > span > span::-moz-selection { background: $c-darker; }
    .cm-s-react .CodeMirror-cursor { border-left: 4px solid $c-brand; }
      [data-readonly] > .CodeMirror .CodeMirror-cursor { display: none; }

    // .cm-s-react span.cm-comment { color: #8f5536; }
    // .cm-s-react span.cm-atom { color: purple; }
    // .cm-s-react span.cm-number { color: #aa759f; }

    .cm-s-react span.cm-attribute {  }
    .cm-s-react span.cm-property { color: lighten($c-brand, 20); }
    .cm-s-react span.cm-keyword { color: #999; }
    .cm-s-react span.cm-string { color: #999; }

    .cm-s-react span.cm-variable { color: darken($c-brand, 20); }
    .cm-s-react span.cm-variable-2 { color: #6a9fb5; }
    .cm-s-react span.cm-def { color: $c-brand; }
    .cm-s-react span.cm-bracket { color: #518400; }
    .cm-s-react span.cm-tag { color: #99c27c; }
    .cm-s-react span.cm-link { color: #aa759f; }
    .cm-s-react span.cm-error { background: #777777; color: #505050; }

  }
// }


.home {

}
