.vert_nav {
  margin-top: -5px;
}

.vert_nav__item {
  font-weight: 300;
  transition: color 0.2s ease;

  &.is-current {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 20px;
      background-color: $c-brand;
      left: -20px;
      top: 10px;
    }
  }

  &:hover {
    color: $c-text;
  }
}

.vert_nav__link {
  padding-top: 5px;
  display: block;
}

.vert_nav__text {
  @include f-body;
  display: inline-block !important;
  vertical-align: top;

  &::after {
    top: -5px;
  }

  .vert_nav__link:hover & {
    opacity: 0.5;
  }

  .vert_nav__item.is-current & {
    color: $c-text;
    font-weight: 700;
  }

  .vert_nav__item.is-current .vert_nav__link:hover & {
    cursor: default;
    opacity: 1;
  }
}
