@import "setup/variables";
@import "setup/mixins";
@import "setup/breakpoint";
@import "setup/reset";
@import "setup/grid_helpers";

// Prism style overrides require global variables.
@import "prism";

html {
  min-width: 320px;
}

body {
  font-size: 16px;
  line-height: 25px;
  font-family: 'proxima-nova', sans-serif;
}

code {
  font-family: 'Monaco', monospace;
  font-size: 85%;
}