@import "setup/variables";
@import "setup/mixins";
@import "setup/breakpoint";
@import "setup/reset";
@import "setup/grid_helpers";

// Font modules are included as mixins
// ... we keep them separate to isolate the baseline's magic numbers
@import "fonts";

// BEM blocks *should* be source-order agnostic
// so let's go alphabetical
@import "article_nav";
@import "article";
@import "aux_list";
@import "below_nav";
@import "cta_group";
@import "cta_link";
@import "footer";
@import "header";
@import "hero";
@import "home_example";
@import "home_tabs";
@import "logo";
@import "nav";
@import "note";
@import "prefooter_nav";
@import "primary_btn";
@import "site";
@import "traverse_nav";
@import "underline";
@import "vert_nav";
@import "wrapper";

@import "prism";

html {
  min-width: 320px;
}

body {
  font-size: 16px;
  line-height: 25px;
  font-family: 'proxima-nova', sans-serif;
}

code {
  font-family: 'Monaco', monospace;
}

pre,
.CodeMirror pre {
  font-family: 'Monaco', monospace !important;
  font-size: 90% !important;
}

// This could be useful to avoid collapsing margins when stacking different fonts
.block {
  display: flex;
  flex-direction: column;
}

// TODO -- standardize bottom padding across layouts?
.home {
  padding-bottom: 120px;
  position: relative;
  z-index: 0;
}
