// The global class names in this file must match hard-coded values in '/docs/index.md'

// TODO Replace relative paths and/or auto-include these base files
@import "../css/fonts";
@import "../css/setup/variables";
@import "../css/setup/mixins";

.home-section {
  margin-top: 60px;
  margin-bottom: 65px;
}

.home-divider {
  height: 1px;
  margin-bottom: -1px;
  border: none;
  border-bottom: 1px solid $c-divider;
}

.marketing-row {
  display: flex;
  flex-direction: row;

  @include breakpoint("medium-") {
    flex-direction: column;
  }
}

.marketing-col {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  margin-left: 40px;

  &:first-of-type {
    margin-left: 0;
  }

  @include breakpoint("medium-") {
    display: block;
    margin-top: 40px;
    margin-left: 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  h3 {
    @include f-tab;
    color: #777;
    font-weight: 100 !important;
  }

  p {
    margin-top: 20px;
  }

  a {
    @include link;
  }
}

.example {
  margin-top: 80px;

  code {
    background: rgba($c-note, 0.5);
    padding: 0 3px;
    color: #444;
  }
}
