<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>⚛ React Docs UI</title>
  <link rel="stylesheet" href="/dist/css/main.css" />
  <link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css" />
  <script>
  (function(d) {
    var config = {
      kitId: 'xnt6blw',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
</head>
<body class="alt-design">

  <div class="site">

  <header class="header">
    <div class="wrapper">
      <div class="header__inner">
        <div class="header__logo">
          <a href="/" class="logo">
            <img src="/logo.svg" alt="React" height="20" />
            <span class="logo__title">React</span>
          </a>
        </div>
        <nav class="header__nav">
          <div class="header__nav_mid">
            <div class="header__nav_inner">
              <ul class="nav">
                <li class="nav__item">
                  <a href="/article.html" class="nav__link">Docs</a>
                </li>
                <li class="nav__item">
                  <a href="#" class="nav__link">Tutorial</a>
                </li>
                <li class="nav__item">
                  <a href="#" class="nav__link">Community</a>
                </li>
                <li class="nav__item">
                  <a href="#" class="nav__link">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <form class="header__search">
          <label for="search">
            <img src="/search.svg" alt="Search" height="16" />
          </label>
          <div class="header__search_input">
            <input id="search" class="header__search_input_inner" type="search" placeholder="Search docs" />
          </div>
        </form>
        <div class="header__aux">
          <ul class="aux_list">
            <li class="aux_list__item">
              <a class="aux_list__link aux_list__btn" href="#" class="aux_btn">
                v15.5.4
              </a>
            </li>
            <li class="aux_list__item">
              <a class="aux_list__link" href="#">
                GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main class="site__main home">

    <header class="hero below_nav">
      <div class="hero__inner">
        <div class="wrapper">
          <h1 class="hero__title">React</h1>
          <p class="hero__subtitle">A JavaScript library for building user interfaces</p>
          <div class="hero__cta_group cta_group">
            <div class="cta_group__item">
              <a href="#" class="primary_btn">
                <span class="primary_btn__inner">Get Started</span>
              </a>
            </div>
            <div class="cta_group__item">
              <a href="#" class="cta_link">
                Take the tutorial
                <img src="/arrow.svg" alt="Search" height="12" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="wrapper">

      <section class="home_tabs">
        <ul class="home_tabs__list">
          <li class="home_tabs__item"><a href="#" class="home_tabs__link is-current">Declarative</a></li>
          <li class="home_tabs__item"><a href="#" class="home_tabs__link">Component-based</a></li>
          <li class="home_tabs__item"><a href="#" class="home_tabs__link">Learn once, write anywhere</a></li>
        </ul>
        <section class="home_tabs__panel">
          <p>React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes. Declarative views make your code more predictable and easier to debug.</p>
        </section>
      </section>

    </div>

    <div class="wrapper">

      <section class="home_example">
        <div class="home_example__text">
          <h2 class="home_example__title">A simple component</h2>
          <div class="home_example__body">
            <p>React components implement a <code>render()</code> method that takes input data and returns what to display. This input data is accessed through <code>this.props</code>.</p>
          </div>
        </div>
        <div class="home_example__main">
          <div class="home_example__editor">
            <div class="editor code">
              <pre>
class HelloMessage extends React.Component {
  render() {
    return (
      &lt;div&gt;
      	Hello, {this.props.name}
      &lt;/div&gt;
    );
  }
}

ReactDOM.render(
  &lt;HelloMessage name=&quot;John&quot; /&gt;, mountNode
);</pre>
            </div>
          </div>
          <div class="home_example__result">
            <div>Hello, John</div>
          </div>
          <div class="home_example__note">
            <div class="small_note">

            </div>
          </div>
        </div>
      </section>

    </div>

  </main>

  <footer>
    <section class="prefooter_nav">
      <div class="wrapper">
        <div class="cta_group">
          <div class="cta_group__item">
            <a href="#" class="primary_btn">
              <span class="primary_btn__inner">Get Started</span>
            </a>
          </div>
          <div class="cta_group__item">
            <a href="#" class="cta_link">
              Take the tutorial
              <img src="/arrow.svg" alt="Search" height="12" />
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="wrapper">
        <div class="footer__inner">
          <nav class="footer__category">
            <h2 class="footer__category_title">Docs</h2>
            <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Quick Start</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Thinking in React</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Tutorial</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Advanced Guides</a></li>
            </ul>
          </nav>
          <nav class="footer__category">
            <h2 class="footer__category_title">Community</h2>
            <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Stack Overflow</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Discussion Forum</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Reactiflux Chat</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Facebook</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Twitter</a></li>
            </ul>
          </nav>
          <nav class="footer__category">
            <h2 class="footer__category_title">Resources</h2>
            <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Conferences</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Videos</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Examples</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Complementary Tools</a></li>
            </ul>
          </nav>
          <nav class="footer__category">
            <h2 class="footer__category_title">More</h2>
            <ul class="footer__list">
              <li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
              <li class="footer__item"><a href="#" class="footer__link">GitHub</a></li>
              <li class="footer__item"><a href="#" class="footer__link">React Native</a></li>
              <li class="footer__item"><a href="#" class="footer__link">Acknowledgements</a></li>
            </ul>
          </nav>
          <section class="footer__logo">
            <a href="#">
              <img src="/oss_logo.png" alt="Facebook Open Source" />
            </a>
            <p class="footer__copyright">
              Copyright © 2017 Facebook Inc.
            </p>
          </section>
        </div>
      </div>
    </section>
  </footer>

  <span class="design-grid-toggle design-grid-toggle--baseline" onClick="this.nextElementSibling.classList.toggle('js-hide');">Toggle baseline grid</span>
  <span class="design-grid design-grid--baseline js-hide"></span>
  <span class="design-grid-toggle design-grid-toggle--columns" data-env="Development" onClick="this.nextElementSibling.classList.toggle('js-hide');">Toggle columns grid</span>
  <span class="design-grid design-grid--columns js-hide">
    <div class="wrapper">
      <div class="grid">
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
      </div>
    </div>
  </span>

  </div>

  <script src="https://codemirror.net/lib/codemirror.js"></script>
  <script src="https://codemirror.net/mode/javascript/javascript.js"></script>
  <script src="https://codemirror.net/mode/xml/xml.js"></script>
  <script src="http://codemirror.net/mode/jsx/jsx.js"></script>

  <script src="/main.js"></script>
  <script src="/tota11y.min.js"></script>

  <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://localhost:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
//]]></script>

</body>
</html>
