// TODO Replace relative paths and/or auto-include these base files
@import "../../css/fonts";
@import "../../css/setup/variables";

.Section {
}

.Header {
  @include f-note;

  margin: 1rem 0;
}

.HeaderLink {
  color: rgba($c-text, 0.6);
  transition: color 0.2s ease;
  cursor: pointer;

  &:hover {
    color: $c-text;
  }
}

.ActiveHeaderLink {
  color: $c-text;
}

.List {
  margin-bottom: 10px;
}

.Link {
  display: inline-block;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease;
  margin-top: 5px;

  &:hover {
    border-bottom-color: $c-divider;
  }
}

.ExternalLink {
  padding-right: 15px;

  &:hover {
    border-bottom-color: transparent;
  }

  &:after {
    content: " " url(../../../../docs/img/external.png); // TODO Move to a better relative location
  }
}

.ActiveLink {
  color: $c-text;
  font-weight: 700;

  &::before {
    content: "";
    width: 4px;
    height: 100%;
    border-left: 4px solid $c-brand;
    margin-left: -20px;
    padding-left: 16px;
  }

  &:hover {
    opacity: 1;
  }
}
