// TODO Replace relative paths and/or auto-include these base files
@import "../../css/setup/breakpoint";
@import "../../css/wrapper";

.Container {
  @extend .wrapper;
}

.WithPaddingTop {
  padding-top: 60px;

  @include breakpoint("small-") {
    padding-top: 40px;
  }

  @include breakpoint("medium-to-large") {
    padding-top: 50px;
  }
}

.WithPaddingBottom {
  padding-bottom: 30px;

  @include breakpoint("small-") {
    padding-bottom: 20px;
  }

  @include breakpoint("medium-to-large") {
    padding-bottom: 25px;
  }
}