.Input {
  width: 0;
  min-width: 0.5rem;
  flex: 1 1 auto;
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  border: none;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-normal);
}

.Input:focus {
  border-color: var(--color-border);
}

.HiddenDiv {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  overflow: scroll;
  white-space: pre;
}
